<div class="container">
    <div class="row">
        <div class="col l8 s12">
            <h5 class="white-text">🎲 LearnShare</h5>
            <p class="grey-text text-lighten-4">Innovating Education: Transforming Learning and Teaching</p>
        </div>
        <div class="col l4 s12">
            <h5 class="white-text"><i class="fab fa-github white-text"></i> GitHub</h5>
            <p class="grey-text text-lighten-4">Help us improve by contributing to this <a
                    href="#" target="_blank">
                <span class="amber-text lighten-1">project</span>
            </a> on GitHub.</p>
        </div>
    </div>
</div>
<div class="footer-copyright black">
    <div class="container left-align">
        <span>&copy; 2024 CDAC - New Delhi </span> |
        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin white-text"></i></a> |
        <a href="https://github.com/"><i class="fab fa-github white-text"></i></a>
    </div>
</div>